<div class="mt-3 lm-2 border border-primary rounded-sm mt-3 ml-1" style="background-color: black; height: 20em; ">
    <ul class="nav flex-column border-light">
        <li class="nav-item border border-light">
            <a class="nav-link active" href="/usuarios">Usuarios</a>
        </li>
        <li class="nav-item border border-light">
            <a class="nav-link" href="/produtos">Produtos</a>
        </li>
        <li class="nav-item border border-light">
            <a class="nav-link" href="/marcas">Marcas</a>
        </li>
        <li class="nav-item border border-light">
            <a class="nav-link" href="/imagens">Imagens</a>
        </li>
    </ul>
</div>